@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    box-sizing: border-box;
}

.expertCard {
    font-family: Montserrat, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.name {
    margin: 10px 0;
    text-transform: uppercase;
}

h6 {
    margin: 5px 0;
    
}

p {
    font-size: 14px;
    line-height: 21px;
}

.card-container {
    border: solid 2px white;
    background-color: #231e39;
    border-radius: 10px;
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
    color: #b3b8cd;
    padding: 10px;
    margin: 0px 0px;
    position: relative;
    width: 1100px;
    min-height: 500px;
    max-width: 100%;
}

.card-container .pro {
    color: #231e39;
    background-color: #febb0b;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 7px;
    position: absolute;
    top: 2px;
    right: 2px;
}
.contacts{
    display: flex;
    margin: 20px;
    
}

button.primary {
    background-color: #03bfcb;
    border: 1px solid #03bfcb;
    border-radius: 3px;
    color: #231e39;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    padding: 10px 25px;
}

button.primary.ghost {
    background-color: transparent;
    color: #02899c;
}

.description{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 52%;
    justify-content: space-between;
   
    
}
.description h5{
    font-weight: bold;
    font-size: 15px;
}

.header p label{
    font-weight: bold;
    margin: 10px;
}
.header h6 {
    font-weight: bold;
    margin: 15px;
}

.skills{
    margin: 3px;
    background-color: #1f1a36;
    width: 250px;
    height: 300px;
    overflow: auto;
}

.skills ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.skills ul li {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 12px;
    margin: 0 5px 5px 0;
    padding: 7px;
}


.description:hover .drop{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #70797c;
    right: 5px;
    left: 5px;
    height: 30px;
    width: 200px;
    border-radius: 9px;
    color: white;
}

.visa{
    width: 120px;
    display: flex;
    flex-flow: wrap;
    padding:0px 6px;
}

.footerButton{
    display: flex;
    justify-content:space-between;
    margin: 5px;
}