.ordreMission{
    display: flex;
    flex-direction: column;
}
.MissionConatiner{
   
    display: flex;
    color: #b3b8cd;
    text-align: left;

}
.missionDescription{
    display: flex;
    flex-direction: column;
    
    width: 30%;
    margin: 18px;
}
.imprimer-ordre{
    display: flex;
    
    justify-content: center;
    align-items: baseline;
}
.carte{
    background: #231e39;
    border: solid 2px white;
    margin: 20px;
    border-radius: 10px;
}



.btn-ordre{
    margin: 20px !important;
    width:150px;
}

.descriptionTitle{
    color: darkgray;
}
.ligne{
    border: 1px solid ;
    height: 241px;
    color: darkgray;
    
}